@media(min-width: 768px){
  body {
    background-color: #e6e6e6 !important;
    font-family: 'Dosis', sans-serif !important;
  }

  html {
    background-color: #e6e6e6 !important;
  }

  #header {
    height: 100vh;
    text-align: center;
    color: #ff8c1a;
    padding: 0px;
    background: url('img/lookup.jpg') center no-repeat;
    background-size: cover;
  }

  #tile-opac{
    width:500px;
    height:350px;
    background-color: rgba(0, 0, 0, 0.8);;
    margin: auto;
  }

  #header-content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
  }

  #header-content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
  }

  #slide {
    width: 100px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    background-color: #e6e6e6;
  }
  .btn-primary{
    border-color: #e6e6e6;
    color:#000;
  }
  .btn-primary:hover{
    border-color: #ff8c1a;
    color: #ff8c1a;
  }
  .btn-primary:active{
    border-color: #e6e6e6;
  }

  .icon{
    display: inline-block;
    padding-left: 3px;
    padding-right: 3px;
    font-size: .5em;
  }

  #glyphs a{
    color: #e6e6e6;
  }

  #glyphs a:hover{
    color: #ff8c1a;
  }

  #content{
    margin: auto;
    max-width: 1000px;
    min-height: 100vh;
  }

  #about{
    float: left;
    background-color: #e6e6e6;
    max-width: 400px;
    margin-left: 15px;
  }

  #projects {
    background-color: #e6e6e6;
    padding-right: 25px;
    padding-left: 25px;
    margin: 0px;
    width:100%;
  }
  .project{
    width: 435px;
    float: left;
    margin: 5px;
    background-color: #f2f2f2;
    border: 2px solid #d9d9d9;
    border-radius: 3px;
    /*padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;*/
    height: 200px;
  }
  /*.project:hover{
    box-shadow: 5px 5px 5px ;
  }*/
  .project h3{
    margin: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    border-bottom: 1px solid #d9d9d9;
  }

  .project p {
    height: 105px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
  }
  /*.project:nth-child(odd){
    padding-left: 15px;
  }
  .project:nth-child(even){
    padding-right: 15px;
  }*/
  .project-btn{
    text-align: right;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 4px;
    border-top: 1px solid #d9d9d9;
  }

  #proj-list {
    list-style: none;
    font-size: 15pt;
    padding-left: 0px;
  }

  #prof-pic {
    padding: 10px;
    margin: auto;
    border-radius: 20px;
  }
  #about-info{
    padding: 10px;
    margin-left: 10px;
    margin: auto;
  }
}


/* <---------------------------------------Mobile----------------------------------->*/
@media(max-width: 767px){
  body {
    background-color: #e6e6e6 !important;
    font-family: 'Dosis', sans-serif !important;
  }

  html {
    background-color: #e6e6e6 !important;
  }

  /*HEADER STLYES*/

  #header {
    text-align: center;
    height: 100vh;
    background: url('img/lookup.jpg') center;
    background-size: cover;
    color: #ff8c1a;
  }

  #tile-opac{
    width:300px;
    height:250px;
    background-color: rgba(0, 0, 0, 0.8);;
    margin: auto;
  }

  #header-content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
  }

  .icon{
    display: inline-block;
    padding-left: 3px;
    padding-right: 3px;
    font-size: .5em;

  }

  #glyphs a{
    color: #e6e6e6;
  }

  #glyphs a:hover{
    color: #ff8c1a;
  }

  #slide{
    width: 100px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    background-color: #e6e6e6;
    color: #000;
  }

/* BODY STYLES */


  #content{
    padding-left: 10px;
    padding-right: 10px;
  }

  #about{
    margin: auto;
    background-color: #e6e6e6;
    text-align: left;
  }

  #projects {
    text-align: left;
    background-color: #e6e6e6;
    padding-left: 10px;
  }

  #proj-list {
    list-style: none;
    font-size: 15pt;
    padding-left: 0px;
  }

  #prof-pic {
    padding: 10px;
    margin: auto;
    max-height: 500px;
    border-radius: 20px;

  }

  #about-info{
    padding: 10px;
    margin: auto;
    border-bottom: 2px solid;
    border-color: #595959;
  }
}
